/* CHANGSHIN 메인 css */

/* font */
@font-face {
	font-family: 'Pretendard-Regular';
	font-style: normal;
	font-weight: 300;
	src: url('/opennote/font/Pretendard-Regular');
	src: url('/opennote/font/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Medium';
	font-style: normal;
	font-weight: 300;
	src: url('/opennote/font/Pretendard-Medium');
	src: url('/opennote/font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard-Bold';
	font-style: normal;
	font-weight: 300;
	src: url('/opennote/font/Pretendard-Bold');
	src: url('/opennote/font/Pretendard-Bold.woff') format('woff');
}

body #container{
	font-family: 'Pretendard-Regular', 'Pretendard-Medium', 'Pretendard-Bold';
}

/* Main Profile */
.back-area {width: 100%; height: 330px; position: absolute; background-color: #68a946;}
.csg-wrap {display:flex; flex-wrap: wrap; padding: 43px 40px 10px 40px; gap:40px;}
.csg-main-left {width: 27%;}
.csg-main-left a > img {margin-bottom: 5px;}
.csg-main-right {width: 70%; margin-top: 30px;}
.csg-profile.item {background-color: transparent; color: white; text-align: center; padding: 0px 40px 20px; border: none;}
.csg-profile.item span {font-weight: 600; font-size: 16px;}
.csg-profile .profile-top {display: flex; align-items: center; gap: 20px;}
.csg-profile .profile-top .pro_img {width: 90px !important; height: 90px !important; min-width: 90px !important;}
.csg-profile .profile-top strong {font-size: 28px; margin-right: 5px;}
.csg-profile .profile-top .pro_area {text-align: left;}
.csg-profile .profile-top .pro_area label::after {
    content: '';
    display: inline-block;
    width: 1px;
    margin: 0 10px;
    height: 10px;
    background-color: #ddd;
    opacity: 50%;
}
.csg-profile .profile-top .pro_area label:last-child::after {content: none;}
.csg-profile .profile-top .pro_area p {font-size: 16px; font-weight: normal;}
.csg-profile .profile-bottom {display: flex; margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(255, 255, 255, .2);}
.csg-profile .profile-bottom div:not(:first-of-type) {border-left: solid 1px rgba(255, 255, 255, .2);}
.csg-profile .profile-bottom div {width: calc(100% / 3);}
.csg-profile .profile-bottom .pro_name span {margin-bottom: 10px;}
.csg-profile .profile-bottom .pro_name p {font-size: 16px;}

/* 나의 연차사용/나의 교육이수 */
.csg-main-left > div.item {padding: 30px 40px;}
.csg-progress-area .csg-progress {height: 10px; border-radius: 25px; background-color: #e9ecef;}
.csg-progress-area .csg-progress-wrap:first-child {margin-bottom: 24px;}
.csg-progress-area .csg-progress-title .item_ttl {font-size: 16px;}
.csg-progress-area .csg-progress-title .right {float: right; color: #4B50F0; font-size: 15px; font-weight: 600;}
.csg-progress-area .csg-progress-title .right2 {float: right; color: #00C8F5; font-size: 15px; font-weight: 600;}
.csg-progress-area .csg-progress .csg-progress-bar {height: 10px; background: #4B50F0; border-radius: 25px;}
.csg-progress-area .csg-progress .csg-progress-bar2 {height: 10px; background: #00C8F5; border-radius: 25px;}

/* 증명서신청/팀원동향/설문조사/공지사항 */
.csg-sub-area {display: flex; gap: 12px; margin-top: 30px;}
.csg-sub-area .sub-item {background: #708DC3; color: white; width: calc(100% / 4); padding: 11px 12px 11px 10px !important;}
.csg-sub-area .sub-item:hover {background: #140F5A; cursor: pointer;}
.csg-sub-area .sub-item:hover .item_sub_ttl,
.csg-sub-area .sub-item:hover .item_sub_count {opacity: 100%;}
.csg-sub-area .sub-item .item_sub_ttl {font-size: 15px; text-wrap: nowrap; opacity: 80%;}
.csg-sub-area .sub-item img {filter: invert(100%) sepia(52%) saturate(20%) hue-rotate(315deg) brightness(103%) contrast(108%);}
.csg-sub-area .sub-item .item_sub_count {text-align: right; font-size: 20px; margin-top: 5px;}

/* Full Calendar */
.csg-calendar-area {margin-top: 30px;}
.csg-calendar-area .bottom-left .item_ttl {font-size: 16px; font-weight: 600; margin-bottom: 15px;}
.csg-calendar-area .goal-icon-area {display: flex; height:100%; align-items: center; flex-wrap: wrap; justify-content: center; gap: 35px;}
.csg-calendar-area .goal-icon-area .goal-icon-wrap{display: flex; flex-direction: column; align-items: center; gap: 10px;}
.csg-calendar-area .goal-icon-area .goal-icon-wrap img {width: 100px;}
.csg-calendar-area .goal-icon-area .goal-icon-wrap .alarm_count{
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translateX(-95%) translateY(50%);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
}
.csg-calendar-area .goal-icon-area .goal-icon-wrap .alarm_count.type1,
.csg-calendar-area .goal-icon-area .goal-icon-wrap .alarm_count.type2,
.csg-calendar-area .goal-icon-area .goal-icon-wrap .alarm_count.type3 {background-color: #4B50F0;}
.csg-calendar-area .goal-icon-area .goal-icon-wrap > span{color: #140F5A; font-size: 13px; font-weight: 600; position: absolute; margin-top: 74px;}
.csg-calendar-area .schedule-area {margin-top: 30px;}
.csg-calendar-area .schedule-area > div {height: 90px;}
.csg-calendar-area .schedule-area .schedule-wrap {display: flex; height: 70px; margin: 0 20px 10px 0; border: solid 1px #ddd; border-radius: 10px; background-color: white;}
.csg-calendar-area .schedule-area .schedule-cal {font-size: 12px; color: white; text-align: center; line-height: 1.8em; width: 74px; height: 70px; border-radius: 10px 0 0 10px; padding: 5px; letter-spacing: 0.7px;}
.csg-calendar-area .type1,
.csg-calendar-area .type2,
.csg-calendar-area .type3 {background-color: #708DC3; border: #708DC3;}
.csg-calendar-area .schedule-area .schedule-cal .point {font-size: 22px; font-weight: 300;}
.csg-calendar-area .schedule-area .schedule-con {padding: 13px 30px; height: 70px;}
.csg-calendar-area .schedule-area .schedule-con .list_tit {font-weight: 600; font-size: 16px; color: #222;}
.csg-calendar-area .schedule-area .schedule-con .list_info {margin-top: 3px; font-size: 14px; color: #999; letter-spacing: 0px;}

/* 메인 3 card */
.csg_noti_wrap {display: flex; min-width: calc(100% - 300px); gap: 20px; height: 100%;}
.csg_noti_wrap .item {width: 100%; border: none !important;  box-shadow: none !important; padding: 0 25px 8px 25px;}
.csg_noti_wrap .item.type1,
.csg_noti_wrap .item.type2,
.csg_noti_wrap .item.type3 {background-color: #E0EDFF;}
.csg_noti_wrap .item.type1 .main-item-area .main-item-top > span {box-shadow: inset 0 -16px 0 rgba(0, 200, 245, .3);}
.csg_noti_wrap .item.type2 .main-item-area .main-item-top > span {box-shadow: inset 0 -16px 0 rgba(75, 80, 240, .3);}
.csg_noti_wrap .item.type3 .main-item-area .main-item-top > span {box-shadow: inset 0 -16px 0 rgba(15, 0, 95, .2);}
.main-item-area {display: flex; flex-direction: column;}
.main-item-area .main-item-top {display: flex; gap: 20px; align-items: center; justify-content: center; margin: 60px 0 45px;}
.main-item-area .main-item-top > img {width: 100px;}
.main-item-area .main-item-top > span {font-size: 30px; color: #132142; font-weight: 600; box-shadow: inset 0 -16px 0 orange;}
.main-item-area .main-item-bottom {width: 100%; background-color: white; border-radius: 10px; display: flex; flex-direction: column; padding: 30px 30px 20px; gap: 40px;}
.main-item-area .main-item-bottom .tbl-area {display: flex; align-items: flex-start; gap: 15px;}
/* .main-item-area .main-item-bottom .tbl-area > div {margin-top: 12px;} */
/* .main-item-area .main-item-bottom > div {margin: 40px 30px 0 30px;} */
/* .main-item-area .main-item-bottom > div:last-child {margin-bottom: 40px;} */
.main-item-area .main-item-bottom .th {width: 25%; font-weight: bold; font-size: 19px; color: #222; }
.main-item-area .main-item-bottom .td {width: 75%;}
.main-item-area .main-item-bottom ul li {font-size: 17px; color: #555; margin-bottom: 10px;}
.main-item-area .main-item-bottom ul li:last-child {margin-bottom: 0px;}
.main-item-area .main-item-bottom ul li:before {content:"·"; font-size: 30px; vertical-align: middle; line-height: 20px; margin-right: 8px;}
.main-item-area .main-item-bottom ul li:hover {cursor: pointer;}
/* .main-item-area .main-item-bottom .td {display:flex; column-gap: 29px; grid-row-gap: 3px; flex-wrap: wrap; margin-top: 10px;  } */
/* .main-item-area .main-item-bottom .td a::before {content: ''; list-style-type: disc;} */
/* .main-item-area .main-item-bottom .td a::after {content: ''; position: absolute; display: inline-block; width: 1px; margin-left: 14px; height: 14px; margin-top: 5px; background-color: #ddd;} */
/* .main-item-area .main-item-bottom .td a:last-child::after {content: none;} */

/* 나의목표관리 / 나의 MBO */
/* .csg-right-bottom .item {display: flex;} */
/* .csg-right-bottom .tbl_wrap {height: 250px; margin-top: 7px; padding-right: 20px;} */
/* .csg-right-bottom .bottom-right {width: 50%; padding: 17.5px 0px;} */
/* .csg-right-bottom .bottom-right .board-col-type01 {border-top: 1px solid #222;} */
/* .csg-right-bottom .bottom-right .board-col-type01 thead th {color: #222; background: #EDF3FF; border-right: 1px solid #ddd;} */
/* .csg-right-bottom .bottom-right .board-col-type01 tbody td {color: #555; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;} */
/* .csg-right-bottom .bottom-right .board-col-type01 tbody td.bold {font-weight: 600;} */

/* 팀원동향 popup */
.team-trend-area {border-radius: 10px; border: solid 1px #ddd; box-shadow: 0 0 0 transparent;}
.team-trend-area .team-trend-header {height: 100px; background-color: #f5f5f5; padding: 40px; border-radius: 10px 10px 0 0; display: flex; align-items: center; gap: 20px;}
.team-trend-area .team-trend-header .trend-title {font-size: 16px; font-weight: bold; color: #555;}
.team-trend-area .team-trend-header .trend-rate {font-size: 22px; font-weight: bold; color: #222;}
.team-trend-area .team-trend-body {height: 450px; display: flex; padding: 20px;}
.team-trend-area .team-trend-body .body-left,
.team-trend-area .team-trend-body .body-right {width: 50%; margin: 20px;}
.team-trend-area .team-trend-body button {height: 100%;}
.team-trend-area .team-trend-body button > span {width: 50px; white-space: normal; line-height: 1rem; vertical-align: middle; margin: 5px;}
.team-trend-area .team-trend-body button.type1 {background-color: #40BBBB;}
.team-trend-area .team-trend-body button.type2 {background-color: #15B4F5;}
.team-trend-area .team-trend-body button.type3 {background-color: #5A5FFA;}
.team-trend-area .team-trend-body button.type4 {background-color: #222;}
.team-trend-area .team-trend-body .team-member-area {border-top: 2px solid #7E84A3; margin: 15px 5px; height: 300px;}
.team-trend-area .team-trend-body .team-member {position: relative; display: flex; align-items: center; padding: 8px 0; border-bottom: 1px solid #E6E6E6; flex-direction: row; height: 60px; margin-left: 2%;}
.team-trend-area .team-trend-body .profile {display: flex; align-items: center; gap: 20px;}
.team-trend-area .team-trend-body .profile .name {color: #222; width: 45px;}
.team-trend-area .team-trend-body .profile .period {color: #888; word-spacing: 0px;}
.team-trend-area .team-trend-body .profile img {width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;}

@media all and (max-width: 1900px) {
	body #container,
	button.btn_toggle { zoom: 100%; }
}

@media all and (max-width: 1850px) {
	body #container,
	button.btn_toggle { zoom: 90%; }
}

@media all and (max-width: 1700px) {
	body #container,
	button.btn_toggle { zoom: 80%; }
}

@media all and (max-width: 1500px) {
	body #container,
	button.btn_toggle { zoom: 70%; }
}

@media all and (max-width: 1300px) {
	body #container,
	button.btn_toggle { zoom: 65%; }
}

@media all and (max-width: 1200px) {
	body #container,
	button.btn_toggle { zoom: 100%; }

	.csg-main-left,
	.csg-main-right,
	.csg-right-bottom .bottom-left,
	.csg-right-bottom .bottom-right {width: 100%;}
	.team-trend-area .team-trend-body .body-left,
	.team-trend-area .team-trend-body .body-right {width: 90%;}

	.csg_noti_wrap,
	.team-trend-area .team-trend-body {flex-direction: column;}
	.team-trend-area .team-trend-body .team-member-area {height: 100%;}
}
